* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h4,
a {
  font-family: Inter;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Beefour";
  src: url("assets/font/Bee-Two.ttf") format("truetype"),
    url("assets/font/Bee-Two.woff") format("woff"),
    url("assets/font/Bee-Two.woff2") format("woff2");
}

/* Hamburger styles */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#navbar-links {
  display: none;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

/* Cross styles */
.hamburger.cross .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.cross .line:nth-child(2) {
  opacity: 0;
}

.hamburger.cross .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.top_header {
  width: 100%;
  height: 100vh;
  position: relative;

  svg {
    padding-left: 20px;
  }

  .top_header-top_content {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;

    h1 {
      color: #fff;
      font-weight: 400;
    }

    #typing-text {
      overflow: hidden; /* Ensures the text doesn't overflow its container */
      border-right: 0.15em solid orange; /* Creates the typing cursor effect */
      white-space: nowrap; /* Prevents line breaks */
      margin: 0 auto; /* Centers the text */
      animation: typing 3s steps(40, end) infinite; /* Animation properties */
      font-weight: 500;
    }

    @keyframes typing {
      from {
        width: 0; /* Starts from 0 width */
      }
    }

    .top_content_right_content {
      display: flex;
      gap: 20px;
      align-items: center;
      color: #fff;

      .top_content_menu_hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: #fff;
        cursor: pointer;

        i {
          font-size: 25px;
        }
      }

      .top_content_get_in_touch_button {
        color: #fff;
        border: 1px solid #cdcdcd;
        height: 45px;
        width: 160px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #ecccc3;
          cursor: pointer;
        }
      }
    }
  }

  video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

.company_info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .company_left-services {
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #ecccc3;
    text-align: left;
    gap: 30px;

    .list_of_services {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        font-weight: lighter;
        margin-bottom: 30px;
      }
    }

    div p {
      color: #191919;
      font-weight: 600;
    }

    .view_services_button {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      cursor: pointer;

      p {
        font-size: 18px;
      }
    }
  }

  .company_right-about_us {
    width: 60%;
    background-color: #eebe1b;
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    justify-content: space-between;

    h2 {
      font-weight: lighter;
      margin-bottom: 30px;
    }

    .about_us_content {
      font-size: 1.8rem;
      color: #000;
      line-height: 1.5;
      width: 70%;
      span {
        text-decoration: underline;
        text-decoration-color: #fff;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }

    .read_our_latest_news_button {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      cursor: pointer;
      font-weight: 600;

      p {
        font-size: 18px;
      }
    }
  }
}

.categories_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(245px, auto);
}

.category {
  position: relative;
  cursor: pointer;
  height: 245px;
  background-color: #ddd;
}

.back_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category:hover .back_content {
  opacity: 1;
}

.video {
  position: relative;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
}

.dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Beefour;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.content p {
  font-size: 12px;
  margin-bottom: 5px;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

footer {
  background-color: #000;
  color: #fff;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;

  .footer_contacts {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 60px;

    h1 {
      font-family: beefour, georgia, serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 11rem;
      line-height: 0.7;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 2rem;
      font-weight: 600;
      color: #ffbe1b;
      span {
        color: #fff;
      }
    }
  }

  .locations_and_newsletter {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 60px;

    .location {
      display: flex;
      flex-direction: column;
      width: 30%;

      h3 {
        font-size: 1.6rem;
        font-weight: 600;
        font-family: Inter, georgia, serif;
      }

      .contact_details {
        font-size: 0.8rem;
        font-weight: 600;
        color: #ffbe1b;
        span {
          color: #fff;
        }
      }
    }

    .newsletter {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 2rem;
        font-weight: 600;
      }

      .newsletter_form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        input {
          width: 50%;
          height: 40px;
          padding: 0 10px;
          border: none;
          border-radius: 5px;
          border-bottom: 1px solid #fff;
        }

        button {
          background: #000;
          color: #fff;
          border: 1px solid #eebe1b;
          border-radius: 30px;
          padding: 20px 40px;
          cursor: pointer;
        }
      }
    }
  }

  .social_and_affiliates {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;

    .social {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .social_icons {
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        display: flex;

        i {
          margin-right: 40px;
          &:hover {
            color: #ffbe1b;
          }
        }
      }
    }

    .affiliates {
      gap: 20px;

      .affiliates_images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
      }

      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1000;
  transition: 0.3s ease;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    width: 100%;

    li {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;
      color: #000;

      a {
        color: #000;
        font-size: 1.5rem;

        &:hover {
          color: #ffbe1b;
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}

.overlay.active {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
  z-index: 1000;
  transition: 0.3s ease;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    width: 100%;

    li {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;
      color: #000;

      a {
        color: #000;
        font-size: 1.5rem;

        &:hover {
          color: #ffbe1b;
          text-decoration: underline;
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}
